/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 40px;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: #b3b3b3;
  font-size: 16px;
}

section {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 40px 0;
}

h1 {
  font-size: 4rem;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h6 {
  text-align: center;
  padding: 40px 0;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
footer {
  padding: 40px 0;
}
footer p {
  margin-bottom: 20px;
}
.container {
  width: 970px;
  margin: 0 auto;
  border: 1px solid lightgray;
}
.page {
  width: 876px;
  margin: 0 auto;
}
.logo {
  margin-left: 80px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.title2 {
  display: flex;
  flex-wrap: wrap;
  width: 48%;
  justify-content: center;

  padding: 50px 0 0 80px;
}

.top-img {
  width: 48%;
}

.middle-img {
  margin: 30px 0;
}

.section-top {
  width: 48%;
}

.feature-about {
  display: flex;
}

.feature-div {
  padding-right: 20px;
}

.services-product-vision {
  display: flex;
}

.spv {
  padding-right: 20px;
}

.copyright {
  text-align: center;
  padding: 40px 0;
  font-size: 14px;
}

#button {
  border: 1px solid black;
  text-decoration: none;
  padding: 5px 30px;

  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}
